html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

button.danger {
    background-color: #f88;
}

button,
header a {
    border: none;
    padding: 0.25em 0.5em;
    box-shadow: inset -1px -1px 2px #000;
    transition: box-shadow 200ms cubic-bezier(0, 1, 0.5, 2);
}

button:active,
header a.active {
    box-shadow: inset 1px 1px 2px #000;
}
